@charset "utf-8";
/* CSS Document */
#footer{margin-top: 0px;}

#main{padding-top: 60px;padding-bottom: 100px;border-top: 1px solid #e7e7e7;min-height: 285px;
	.margin{
		.main-h{margin-bottom: 67px;
			.banner{margin-right: 46px;width: 465px;height: 433px;float: left;
				.main-img{width: 365px;height: 430px;background-color: #f4f4f4;border:1px solid #ececec;position: relative;
					img{width: 100%;height: 100%;display: block;}
					.slider{width: 50px;height: 50px;background-color: rgba(0, 0, 0, .3);position: absolute;left: 0;top: 0;display: none;}
					.max-img{width: 100%;height: 100%;position: absolute;left: 470px;top: -1px;border:1px solid #845f3f;overflow: hidden;display: none;
						img{width: 200%;height: 200%;position: absolute;top: 0;left: 0;}
					}
				}
				.thumb{width: 85px;height: 100%;position: relative;overflow: hidden;
					.thumb-container{position: absolute;
						.thumb-pic{width: 83px;height: 98px;margin-bottom: 11px;border:1px solid rgb(236, 236, 236);background-color: #f4f4f4;
							img{width: 100%;height: 100%;display: block;}
						}
						.thumb-pic.active{border-color: rgb(132, 95, 63);}
					}
					.arrow-up{position: absolute;top:0;
						i{display: block;width: 85px;height: 16px;background-position: 0 -275px;}
					}
					.arrow-down{position: absolute;bottom: 0;
						i{display: block;width: 85px;height: 16px;background-position: 0 -175px;}
					}
				}
			}

			.sku-container{float: left;width: 561px;
				.good-name{margin-bottom: 4px;line-height: 26px;font-size: 20px;}
				.summary{width: 84%;line-height: 18px;font-size: 12px;color: #999;}
				h5.sku-title{margin-right: 10px;width: 48px;font-weight: 400;line-height: 32px;font-size: 12px;}
				.card{margin-bottom: 26px;margin-top: 18px;padding:10px;background-color: #f9f9f9;

					.price-line{margin-top: 12px;margin-bottom: 12px;height: 37px;vertical-align: bottom;line-height: 40px;font-size: 30px;
						.price{line-height: 30px;color:#c00000;
							.money-symbol{font-size: 14px;}
							.value{font-size: 30px;}
						}
					}
					.service-line{margin-bottom: 12px;vertical-align: bottom;line-height: 24px;font-size: 24px;
						.service{
							.service-item{height: 24px;margin-right: 13px;line-height: 24px;font-size: 16px;
								i.icons-service{display: inline-block; width: 16px;height: 16px;background-position: 0 -215px;}
								span.service-item-text{margin-left: 8px;}
							}
						}
					}
				}
				.count-line{margin-bottom: 40px;
					.count-container{
						.minus-btn-active{width: 34px;height: 30px;border:1px solid #d6d6d6;text-align: center;
							i{display: inline-block;width: 30px;height: 30px;background-position: 0 -1390px;}
						}
						.count-input{width: 60px;height: 30px;border:1px solid #d6d6d6;border-left-width: 0px;border-right-width: 0px;text-align: center;font-weight: 700;}
						.minus-btn{width: 34px;height: 30px;border:1px solid #d6d6d6;text-align: center;
							i{display: inline-block;width: 30px;height: 30px;background-position: 0 -1050px;}
						}
					}
				}
				.btn-line{height: 52px;text-align: center;
					.buy-btn-container{
						b{cursor:pointer; margin-right: 15px;min-width:176px;height: 52px;line-height: 50px;font-size: 20px;transition:all .5s cubic-bezier(0,1,.5,1);border-radius: 2px;display: inline-block;}
						b.btn-brown-stroke{color: #845f3f; border:1px solid #845f3f;}
						b.btn-brown-stroke:hover{background-color: #845f3f;color: #fff;}
						b.btn-brown{color: #fff; border:1px solid #845f3f;background-color: #845f3f;}
						b.btn-brown:hover{background-color: #d1bfa6;border:1px solid #d1bfa6;}
					}
					.favor-btn{transition:all .5s cubic-bezier(0,1,.5,1);width: 50px;height: 50px;border-radius: 2px;border:1px solid #ccc;line-height: 12px;text-align: center;font-size: 12px;color:#999;
						i{display: inline-block;width: 30px;height: 30px;}
						p{}
					}
					.faver-collect-btn{
						i{background-position: 0 -880px;}
						p{}
					}
					.faver-collect-btn:hover{background-color: #845f3f;color: #fff;
						i{background-position: 0 -1696px;}
					}
					.faver-service-btn{margin-left: 15px;
						i{background-position: 0 -1560px;}
						p{}
					}
					.faver-service-btn:hover{background-color: #845f3f;color: #fff;
						i{background-position: 0 -1526px;}
					}
				}
			}
		}

		.detail-content{
			.info{width: 774px;
				.nav-title{background-color: #e7e7e7;z-index: 5;width: 774px;
					ul.info-nav{height: 13px;padding:16px 0 13px;
						li.info-nav-item{width: 128px;float: left;border-right:1px solid rgb(204, 204, 204);text-align: center;font-size: 13px;line-height: 13px;height: 13px;}
						li:last-child{border-color: transparent;}
						li:hover{color: #845f3f;}
					}
					.nav-arr-container{height: 2px;position: relative;
						.nav-arr{width: 128px;height: 2px;background-color: #845f3f;transition:left .2s linear;position: absolute;left: 0;}
					}
				}

				.main-body{min-height: 900px;

						.detail-img{
							img{display: block;width: 100%;height: auto;}
						}

					.main-body-1{display: block;}

					.main-body-2{display: none;}
					
					.main-body-3{display: none;}

					.main-body-4{display: none;}

				}
			}

			.best{float: right;width: 262px;
				.flagship{padding-bottom: 13px;margin-bottom: 17px;border-bottom: 1px solid #e7e7e7;
					.icon-container{height: 30px;line-height: 30px;font-size: 14px;color: #333;
						img{width: 30px;height: 30px;float: left;margin-right: 10px;}
						.title-container{float: left;width: 156px;
							h6{line-height: 14px;font-size: 14px;font-weight: 400;}
							p{margin-top: 4px;line-height: 12px;font-size: 12px;}
						}
						.enter-btn{float: right;
							.btn-brown{display: block;min-width: 48px;height: 30px;line-height: 28px;border-radius: 3px;color: #fff;background-color: #845f3f;border-color:  #845f3f;text-align:center;transition:left .2s linear;}
							.btn-brown:hover{background-color: #d1bfa6;}
						}
					}

				}
			}
		}
	}
}
























